#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.box {
    padding: 12px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 80%;
    top: 80px;
    margin-left: 10%;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}

.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: #eb0f0f;

    &:hover {
        background-color: transparent !important;
        color: #eb0f0f !important;
    }
}